@if (lowStock.length) {
  <div class="low-stock" role="status">
    <mat-icon>inventory_2</mat-icon>
    {{ "PRODUCTS_LOW_STOCK" | translate }}
    @for (p of lowStock; track p.id; let last = $last) {
      <b>{{ p.name }} ({{ p.stock }})</b>{{ last ? '' : ', ' }}
    }
  </div>
}
<mat-table #table [dataSource]="products" matSort class="animate">

  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PRODUCTS_PRODUCT_PICTURE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product" class="table-image-wrapper">
      <!--<img [src]="product.image" alt="./assets/img/maribo.png" class="table-image">-->
      @if (!!product.clId) {
        <div matBadge="{{product.amount}}" class="image-wrapper">
          <img [src]="product.clId | clUrl:'c_fit,q_50,w_75,h_75':'png'" class="product" alt="">
        </div>
      }
      @if (!product.image && !product.clId) {
        <div class="image-wrapper">
          <img src="/assets/img/avatar.png" class="avatar"/>
        </div>
      }
      @if (!!product.image) {
        <div class="image-wrapper" matBadge="{{product.amount}}">
          <img [src]="product.image" class="product" alt="./assets/img/maribo.png">
        </div>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "NAME" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.name }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="retailPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PRODUCTS_RETAIL_PRICE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.retailPrice }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PRODUCTS_SALES_PRICE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.price }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="margin">
    <mat-header-cell *matHeaderCellDef>{{ "PRODUCTS_MARGIN" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product">
      @if (margin(product) !== null) {
        <span [class.negative]="margin(product) < 0">{{ margin(product) | number:'1.0-2' }} kr.</span>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef>{{ "PRODUCTS_STOCK" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product">
      @if (tracksStock(product)) {
        <span class="stock" [class.low]="isLowStock(product)">{{ product.stock }}</span>
        <button mat-icon-button (click)="receive(product)" [attr.aria-label]="'PRODUCTS_STOCK_RECEIVE' | translate"><mat-icon>add_box</mat-icon></button>
        <button mat-icon-button (click)="stopTracking(product)" [attr.aria-label]="'PRODUCTS_STOCK_STOP' | translate"><mat-icon>block</mat-icon></button>
      } @else {
        <button mat-button (click)="trackStock(product)">{{ "PRODUCTS_STOCK_TRACK" | translate }}</button>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ACTIVE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product">
      <mat-checkbox [(ngModel)]="product.active" (change)="productService.update(product)"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "EDIT" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product">
      <button mat-icon-button (click)="openEditDialog(product)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "DELETE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let product">
      <button mat-icon-button (click)="productService.delete(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>
<button mat-fab class="bottom-right" color="primary" (click)="openAddDialog()">+</button>
