<h1 mat-dialog-title>{{ "PRODUCTS_EDIT_PRODUCT" | translate }}</h1>
<div mat-dialog-content layout="column" style="height: 448px;">
  <mat-form-field>
    <input matInput [(ngModel)]="product.name" placeholder="{{ 'NAME' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput priceInput type='number' [(ngModel)]="product.price" placeholder="{{ 'PRODUCTS_SALES_PRICE' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput priceInput type='number' [(ngModel)]="product.retailPrice" placeholder="{{ 'PRODUCTS_RETAIL_PRICE' | translate }}">
  </mat-form-field>
  <div>
    <button mat-raised-button color="accent" [disabled]="!!product.clId" (click)="openFileExplorer()">{{ "UPLOAD" | translate }}</button>
    <input hidden type="file" #clFileInput (change)="uploadClImage($event.target.files)">
    <span class="fill-space" style="margin-left:10px; margin-right:10px;">{{ "OR" | translate }}</span>
    <mat-form-field>
      <input matInput [(ngModel)]="imageUrl" placeholder="{{ 'PRODUCTS_URL' | translate }}">
      <button mat-icon-button matSuffix color="primary" (click)="setImageFromUrl()">
        <mat-icon>check</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="dialog-image-preview">
    @if (!!uploading) {
      <mat-spinner class="avatar"></mat-spinner>
    }
    @if (!product.clId && !product.image && !uploading) {
      <img class="product-img" src="/assets/img/avatar.png"/>
    }

    @if (!!product.image) {
      <div class="image-wrapper">
        @if (!!product.image) {
          <img class="product" [src]="product.image" (error)="revertImageUrl()"/>
        }
      </div>
    }
    @if (!!product.clId) {
      <img [src]="product.clId | clUrl:'c_fit,q_50,w_75,h_75':'png'" alt="">
    }
    <button mat-icon-button (click)="deleteImage()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-checkbox [(ngModel)]="product.active" class="dialog-checkbox-active">{{ "PRODUCTS_FRIDGE" | translate }}</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onYesClick(product)" color="primary">{{ "SAVE" | translate }}</button>
  <button mat-button (click)="onNoClick()">{{ "CANCEL" | translate }}</button>
</div>
