<app-language-button></app-language-button>
<div class="register-form" fxLayout="column" xLayoutAlign="space-around center">
  <mat-card>
    <mat-card-header class="mat-card-header">
      <mat-card-title>{{ "LOGIN" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" fxLayout="column" [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            required
            placeholder="Email"
            formControlName="email"
            [(ngModel)]="email"
            name="email"
            (keyup.enter)="login()"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            placeholder="Kode"
            formControlName="password"
            [(ngModel)]="password"
            name="password"
            type="password"
            [type]="hidePassword ? 'password' : 'text'"
            (keyup.enter)="login()"
          />
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="form.invalid"
      >
        {{ "LOGIN" | translate }}
      </button>
      <button mat-raised-button color="secondary" [routerLink]="['/register']">
        {{ "REGISTER" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
  <a (click)="openResetPasswordDialog()" class="reset-password-link">
    {{ "LOGIN_FORGOT_PASSWORD" | translate }}
  </a>
</div>
