<div *ngIf="!data.emailSent; else elseBlock">
  <div mat-dialog-content>
    Hvad er din email?
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="data.email"
        name="email"
      />
    </mat-form-field>
  </div>
  <mat-dialog-actions class="buttons" align="end">
    <button mat-button mat-dialog-close>Luk</button>
    <button
      mat-button
      color="primary"
      (click)="onSendResetEmail(data.email)"
      cdkFocusInitial
    >
      Nulstil
    </button>
  </mat-dialog-actions>
</div>
<ng-template #elseBlock>
  <div mat-dialog-content>
    <p>Åben din mail for at nulstille din kode.</p>
  </div>
  <mat-dialog-actions class="buttons" align="end">
    <button mat-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>
