<div *ngIf="!data.emailSent; else elseBlock">
  <h1 mat-dialog-title>Indtast email for at nulstille</h1>
  <div mat-dialog-content fxLayout="column">
    <form class="login-form" fxLayout="column" [formGroup]="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [(ngModel)]="data.email"
          name="email"
          (keyup.enter)="sendResetEmail(data.email)"
        />
      </mat-form-field>
    </form>
  </div>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="sendResetEmail(data.email)"
    >
      Nulstil kode
    </button>
    <button mat-button mat-dialog-close>Luk</button>
  </mat-dialog-actions>
</div>
<ng-template #elseBlock>
  <div mat-dialog-content>
    <p>
      Et link til at nulstille din kode er sendt til
      {{ data.email }}
    </p>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">OK</button>
  </mat-dialog-actions>
</ng-template>
