<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="toolbar-logo">
      <img src="./assets/img/navbar_logo.jpg" />
    </div>
    <span class="fill-space"></span>
    <mat-menu #menu="matMenu" layout-align="end center">
      <button mat-menu-item (click)="logout()">{{ "LOG_OUT" | translate }}</button>
    </mat-menu>
    <button mat-icon-button (click)="theme.cycle()" [attr.aria-label]="('THEME_' + theme.mode.toUpperCase()) | translate" [title]="('THEME_' + theme.mode.toUpperCase()) | translate">
      <mat-icon>{{ theme.icon }}</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button class="lang-button" mat-icon-button (click)="setLang()">
      @if (currentLanguage === 'da') {
        <p>EN</p>
      } @else {
        <p>DA</p>
      }
    </button>
  </mat-toolbar-row>
</mat-toolbar>
