<mat-table #table [dataSource]="users" matSort class="animate">
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PRODUCTS_PRODUCT_PICTURE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user" class="image-wrapper">
      <div *ngIf="!!user.clId" class="image-wrapper">
        <!-- <cl-image public-id="{{user.clId}}" crop="fill" gravity="face"
                  quality="50" width="75" height="75" format="png" radius="max">
        </cl-image> -->
      </div>
      <div *ngIf="!!user.image" class="image-wrapper">
        <img [src]="user.image" class="avatar">
      </div>
      <div *ngIf="!user.image && !user.clId" class="image-wrapper">
        <img src="/assets/img/avatar.png" class="avatar"/>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "NAME" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="room">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ROOM" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.room }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ACTIVE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-checkbox [(ngModel)]="user.active" (change)="updateUser(user)"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "EDIT" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="openEditDialog(user)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "DELETE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="deleteUser(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>
<button mat-fab class="bottom-right" color="primary" (click)="openAddDialog()">+</button>
