<div class="table-scroll">
<mat-table #table [dataSource]="users" matSort matSortActive="room" matSortDirection="asc" class="animate wide-table">
  <ng-container matColumnDef="image" sticky>
    <mat-header-cell *matHeaderCellDef>{{ "PRODUCTS_PRODUCT_PICTURE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user" class="image-wrapper">
      @if (!!user.clId) {
        <div class="image-wrapper">
          <img [src]="user.clId | clUrl:'c_fill,g_face,q_50,w_75,h_75,r_max':'png'" alt="">
        </div>
      }
      @if (!!user.image) {
        <div class="image-wrapper">
          <img [src]="user.image" class="avatar">
        </div>
      }
      @if (!user.image && !user.clId) {
        <div class="image-wrapper">
          <div class="initials" [attr.data-tone]="user.name | tone" aria-hidden="true">{{ user.name | initials }}</div>
        </div>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name" sticky>
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "NAME" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="room">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ROOM" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.room }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ACTIVE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-checkbox [(ngModel)]="user.active" (change)="userService.update(user)"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef>{{ "EDIT" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="openEditDialog(user)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="link">
    <mat-header-cell *matHeaderCellDef>{{ "RESIDENTS_LINK" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="shareLink(user)" [attr.aria-label]="'RESIDENTS_LINK' | translate"><mat-icon>link</mat-icon></button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="moveOut">
    <mat-header-cell *matHeaderCellDef>{{ "RESIDENTS_MOVE_OUT" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button [disabled]="busy" (click)="moveOut(user)" [attr.aria-label]="'RESIDENTS_MOVE_OUT' | translate">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>{{ "DELETE" | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="remove(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>
</div>

@if (dueForAnonymising.length) {
  <div class="retention" role="status">
    <mat-icon>privacy_tip</mat-icon>
    <span>{{ dueForAnonymising.length }} {{ "RESIDENTS_DUE" | translate }} {{ retentionMonths }} {{ "RESIDENTS_MONTHS" | translate }}.</span>
    <button mat-flat-button [disabled]="busy" (click)="anonymise(dueForAnonymising)">{{ "RESIDENTS_ANONYMISE_NOW" | translate }}</button>
  </div>
}

@if (movedOut.length) {
  <h2 class="moved-out-title">{{ "RESIDENTS_MOVED_OUT" | translate }}</h2>
  <table class="moved-out">
    @for (u of movedOut; track u.id) {
      <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.room }}</td>
        <td>{{ "RESIDENTS_MOVED_OUT_ON" | translate }} {{ u.movedOutAt?.toDate() | date:'d. MMM y' }}</td>
        <td class="actions">
          <button mat-button [disabled]="busy" (click)="moveIn(u)">{{ "RESIDENTS_MOVE_IN" | translate }}</button>
          @if (!u.anonymisedAt) {
            <button mat-button [disabled]="busy" (click)="anonymise([u])">{{ "RESIDENTS_ANONYMISE" | translate }}</button>
          }
        </td>
      </tr>
    }
  </table>
}

<button mat-fab class="bottom-right" (click)="openAddDialog()" [attr.aria-label]="'RESIDENTS_NEW_RESIDENT' | translate"><mat-icon>person_add</mat-icon></button>
