<div layout="row">
  <mat-form-field>
    <input matInput [matDatepicker]="pickerFrom" placeholder="{{ 'ACCOUNTING_FROM_DATE' | translate }}" [(ngModel)]="from_date"
      [matDatepickerFilter]="fromDateFilter" (dateChange)="fromDateChange()">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerTo" placeholder="{{ 'ACCOUNTING_TO_DATE' | translate }}" [(ngModel)]="to_date"
      [matDatepickerFilter]="toDateFilter" (dateChange)="toDateChange()">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
  <div class="export-button">
    <button mat-flat-button (click)="exportAsXLSX()">{{ "ACCOUNTING_EXPORT" | translate }}</button>
  </div>
</div>
<!-- One column per product: the resident and the total stay put while the products scroll. -->
<div class="table-scroll accounting-scroll">
<table mat-table [dataSource]="dataSource" matSort matSortActive="room" matSortDirection="asc" class="accounting-table">
  @for (column of displayedColumns; track column) {
    <ng-container [matColumnDef]="column" [sticky]="column === 'name' || column === 'room'" [stickyEnd]="column === 'total'">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="fixedColumns[column] ? '' : column">{{ fixedColumns[column] ? (fixedColumns[column] | translate) : column }}</th>
      <td mat-cell *matCellDef="let element"> {{ column === 'total' ? (element[column] | number:'1.2-2') : element[column] }} </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
