<h1 mat-dialog-title>{{ "RESIDENTS_NEW_RESIDENT" | translate }}</h1>
<div mat-dialog-content fxLayout="column">
  <mat-form-field>
    <input matInput [(ngModel)]="user.name" placeholder="Navn">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.room" placeholder="Værelse">
  </mat-form-field>
  <div>
    <button mat-raised-button color="accent" [disabled]="!!user.clId" (click)="openFileExplorer()">{{ "UPLOAD" | translate }}</button>
    <input hidden type="file" #clFileInput (change)="uploadClImage($event.target.files)">
    <span class="fill-space" style="margin-left:10px; margin-right:10px;">{{ "OR" | translate }}</span>
    <mat-form-field>
      <input matInput [(ngModel)]="imageUrl" placeholder="Url til online billede">
      <button mat-icon-button matSuffix color="primary" (click)="setImageFromUrl()">
        <mat-icon>check</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="dialog-image-preview">
    <mat-spinner *ngIf="!!uploading" class="avatar"></mat-spinner>
    <img class="user-img" src="/assets/img/avatar.png" *ngIf="!user.clId && !user.image && !uploading"/>
    <img class="user-img" [src]="user.image" *ngIf="!!user.image" (error)="revertImageUrl()"/>
    <cl-image public-id="{{user.clId}}" crop="fill" gravity="face" *ngIf="!!user.clId"
              quality="50" width="75" height="75" format="png" radius="max">
    </cl-image>
    <button mat-icon-button (click)="deleteImage()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-checkbox [(ngModel)]="user.active" class="dialog-checkbox-active">{{ "ACTIVE" | translate }}</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onYesClick(user)" color="primary">{{ "SAVE" | translate }}</button>
  <button mat-button (click)="onNoClick()">{{ "CANCEL" | translate }}</button>
</div>
